<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <a href="{{ "/" | relative_url }}" class="navbar-brand">{{ site.title | escape }}</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#rntesting-navbar" aria-controls="rntesting-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="rntesting-navbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="/why-tdd">Why TDD?</a></li>
        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="/concepts">Concepts</a></li>
      </ul>
    </div>
  </div>
</nav>
