.highlight {
  line-height: normal;
}

pre {
  border-color: $grey-color-slightly-light;
}

code {
  background-color: transparent;
}

.highlighter-rouge .highlight {
  background-color: transparent;
}
