.highlight {
  line-height: normal;
}

pre {
  border-color: $grey-color-slightly-light;
}

code {
  background-color: transparent;
}

.highlighter-rouge .highlight {
  background-color: #f0f0f0;
}

.framework-button {
  display: inline-block;
  margin: 10px;
}

.framework-button img {
  display: block;
}

.framework-button label {
  display: block;
  margin-top: 10px;
  text-align: center;
}
