/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.framework-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.framework-card {
  border: solid 1px gray;
  border-radius: 10px;
  padding: 20px;
  margin: 0 10px 20px;
}

.framework-card__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.framework-card__logo {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.page-logo {
  float: right;
  width: 100px;
  height: 100px;
  margin: 0 0 20px 20px;
}

/* fix diff add color */
.theme-default-content code .token.inserted {
  color: #3eaf7c;
}
